<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <div class="main">
       <!--INÍCIO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="../Index.html"><img width="250vh"
            src="../Imagens/Logo/LogoMM1.png" alt="Logomarca Meu Mochilão"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="./DestinoMM.html">Nossos destinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./PromoMM.html">Nossas promoções</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./Reservas.html">Minhas reservas</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="./ContatoMM.html">Fale conosco</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./LoginMM.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./AdmMM.html">Adm</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Pesquisa" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    <!--FIM DO NAVBAR-->
        <header class="tag">
            <h1 class="container">Clientes</h1>
        </header>
        <div class="container py-3">
            <a href="./CadastroMM.html" class="btn btn-primary mb-2">
                Criar Cliente
            </a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Fone</th>
                            <th>Email</th>
                            <th>Rua</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Complemento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>nome</td>
                            <td>publicacao</td>
                            <td>preco</td>
                            <td>autor</td>
                            <td>editora</td>
                            <td class="d-flex">
                                <a href={`/Livros-Update/${livro.id}`} class="btn btn-info">
                                    Editar
                                </a>
                                <button class="btn btn-danger" style="margin-left: 10px;">
                                    Deletar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>